# CarPricePrediction

In [7]:
!pip3 install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: six>=1.5.2 in c:\users\hp\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

WARNING: Ignoring invalid distribution -cikit-learn (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\users\hp\anaconda3\lib\site-packages)

In [8]:
!pip install BeautifulSoup4

WARNING: Ignoring invalid distribution -cikit-learn (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\users\hp\anaconda3\lib\site-packages)

Requirement already satisfied: BeautifulSoup4 in c:\users\hp\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\anaconda3\lib\site-packages (from BeautifulSoup4) (2.3.1)

In [11]:
# Importing Libraries
import pandas as pd
import numpy as np
import time
import selenium
import requests
import re
from bs4 import BeautifulSoup
from selenium import webdriver 
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import warnings
warnings.filterwarnings("ignore")

In [18]:
#connect to the webdriver
driver = webdriver.Chrome(r'C:\Users\hp\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [20]:
driver = webdriver.Chrome('chromedriver.exe')

In [21]:
url = "https://www.cardekho.com/used-cars+in+bangalore"
driver.get(url)
time.sleep(6)

In [22]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

In [23]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [24]:
df1=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df1

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2016 Honda City,6.50 Lakh,i VTEC V,"88,036 kms",Petrol,Manual
1,2017 Renault KWID,3.90 Lakh,1.0 RXT Optional AT 2016-2019,"45,567 kms",Petrol,Automatic
2,2014 Maruti Alto K10,2.76 Lakh,2010-2014 VXI,"80,293 kms",Petrol,Manual
3,2021 Nissan Kicks,15.10 Lakh,1.3 Turbo XV Pre CVT,"6,660 kms",Petrol,Automatic
4,2021 Toyota Urban cruiser,10.20 Lakh,High,"5,467 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2014 Renault Duster,6.25 Lakh,85PS Diesel RxL Plus,"60,000 kms",Diesel,Manual
76,2018 Ford Aspire,5.75 Lakh,Titanium BSIV,"34,500 kms",Petrol,Manual
77,2021 Hyundai Creta,19.99 Lakh,SX Opt Turbo Dualtone,"8,300 kms",Petrol,Automatic
78,2020 BMW X7,1.18 Cr,xDrive 40i,"14,000 kms",Petrol,Automatic
79,2021 BMW X1,43.75 Lakh,sDrive20i SportX,"8,000 kms",Petrol,Automatic

In [25]:
driver.close()

## Ahmedabad

In [26]:
#connect to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [27]:
url = "https://www.cardekho.com/used-cars+in+ahmedabad"
driver.get(url)
time.sleep(6)

In [28]:
brand=[]
model=[]
variant=[]
manuf_year=[]
Driven_KM=[]
fuel=[]
location=[]
No_owners=[]
price=[]

In [29]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [30]:
df2=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df2

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Hyundai Santro,5.20 Lakh,Sportz AMT BSIV,"16,929 kms",Petrol,Automatic
1,2020 Renault KWID,4.52 Lakh,1.0 RXT Opt BSIV,"4,463 kms",Petrol,Manual
2,2016 Honda City,7.33 Lakh,i VTEC V,"25,542 kms",Petrol,Manual
3,2018 Renault Duster,7.21 Lakh,Petrol RXS CVT,"33,139 kms",Petrol,Automatic
4,2016 Maruti Ciaz,6.12 Lakh,VXi Plus,"36,534 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2021 BMW 3 Series Gran Limousine,53.75 Lakh,320Ld Iconic Edition,"12,000 kms",Diesel,Automatic
76,2017 Porsche Macan,58.00 Lakh,R4,"25,000 kms",Petrol,Automatic
77,2020 BMW X7,1.18 Cr,xDrive 40i,"14,000 kms",Petrol,Automatic
78,2016 Mercedes-Benz S-Class,1.61 Cr,AMG S63 Coupe,"16,000 kms",Petrol,Automatic
79,2020 Porsche Macan,79.50 Lakh,3.0 Twin Turbo V6,"16,000 kms",Petrol,Automatic

In [31]:
data = [df1, df2]
  
result = pd.concat(data)
display(result)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2016 Honda City,6.50 Lakh,i VTEC V,"88,036 kms",Petrol,Manual
1,2017 Renault KWID,3.90 Lakh,1.0 RXT Optional AT 2016-2019,"45,567 kms",Petrol,Automatic
2,2014 Maruti Alto K10,2.76 Lakh,2010-2014 VXI,"80,293 kms",Petrol,Manual
3,2021 Nissan Kicks,15.10 Lakh,1.3 Turbo XV Pre CVT,"6,660 kms",Petrol,Automatic
4,2021 Toyota Urban cruiser,10.20 Lakh,High,"5,467 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2021 BMW 3 Series Gran Limousine,53.75 Lakh,320Ld Iconic Edition,"12,000 kms",Diesel,Automatic
76,2017 Porsche Macan,58.00 Lakh,R4,"25,000 kms",Petrol,Automatic
77,2020 BMW X7,1.18 Cr,xDrive 40i,"14,000 kms",Petrol,Automatic
78,2016 Mercedes-Benz S-Class,1.61 Cr,AMG S63 Coupe,"16,000 kms",Petrol,Automatic
79,2020 Porsche Macan,79.50 Lakh,3.0 Twin Turbo V6,"16,000 kms",Petrol,Automatic

In [32]:
driver.close()

## Mumbai

In [33]:
#connect to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [34]:
url = "https://www.cardekho.com/used-cars+in+mumbai"
driver.get(url)
time.sleep(6)

In [35]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

In [36]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [37]:
df3=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df3

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2017 Maruti Swift Dzire,5.88 Lakh,VXI,"32,754 kms",Petrol,Manual
1,2017 Maruti Ignis,4.91 Lakh,1.2 Alpha BSIV,"60,393 kms",Petrol,Manual
2,2016 Hyundai Creta,9.87 Lakh,1.6 CRDi SX,"89,715 kms",Diesel,Manual
3,2014 Hyundai Verna,5.36 Lakh,1.4 VTVT,"17,519 kms",Petrol,Manual
4,2017 Maruti Ciaz,6.04 Lakh,ZXi,"71,376 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2015 Hyundai Grand i10,4.45 Lakh,Asta,"26,000 kms",Petrol,Manual
76,2017 Hyundai Tucson,17.76 Lakh,2.0 Dual VTVT 2WD AT GL Opt,"19,000 kms",Petrol,Automatic
77,2018 Hyundai Creta,12.80 Lakh,1.6 SX Automatic,"50,000 kms",Petrol,Automatic
78,2014 Volkswagen Vento,4.96 Lakh,1.2 TSI Comfortline AT,"52,000 kms",Petrol,Automatic
79,2017 Volkswagen Vento,8.35 Lakh,1.2 TSI Highline Plus AT,"18,500 kms",Petrol,Automatic

In [38]:
data1 = [result, df3]
  
r1 = pd.concat(data1)
display(r1)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2016 Honda City,6.50 Lakh,i VTEC V,"88,036 kms",Petrol,Manual
1,2017 Renault KWID,3.90 Lakh,1.0 RXT Optional AT 2016-2019,"45,567 kms",Petrol,Automatic
2,2014 Maruti Alto K10,2.76 Lakh,2010-2014 VXI,"80,293 kms",Petrol,Manual
3,2021 Nissan Kicks,15.10 Lakh,1.3 Turbo XV Pre CVT,"6,660 kms",Petrol,Automatic
4,2021 Toyota Urban cruiser,10.20 Lakh,High,"5,467 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2015 Hyundai Grand i10,4.45 Lakh,Asta,"26,000 kms",Petrol,Manual
76,2017 Hyundai Tucson,17.76 Lakh,2.0 Dual VTVT 2WD AT GL Opt,"19,000 kms",Petrol,Automatic
77,2018 Hyundai Creta,12.80 Lakh,1.6 SX Automatic,"50,000 kms",Petrol,Automatic
78,2014 Volkswagen Vento,4.96 Lakh,1.2 TSI Comfortline AT,"52,000 kms",Petrol,Automatic
79,2017 Volkswagen Vento,8.35 Lakh,1.2 TSI Highline Plus AT,"18,500 kms",Petrol,Automatic

In [39]:
driver.close()

## Jaipur

In [40]:
#connect to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [41]:
url = "https://www.cardekho.com/used-cars+in+jaipur"
driver.get(url)
time.sleep(6)

In [42]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

In [43]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements(By.XPATH,("//div[@class='gsc_col-xs-7  carsName']/a"))
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,("//span[@class='amnt ']"))
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements(By.XPATH,("//div[@class='car_variant']"))
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [44]:
df4=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df4

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Honda City,9.10 Lakh,i-VTEC CVT ZX,"26,186 kms",Petrol,Automatic
1,2017 Honda City,9.45 Lakh,i-VTEC CVT ZX,"27,787 kms",Petrol,Automatic
2,2017 Maruti Swift Dzire,6.65 Lakh,AMT ZDI,"1,05,894 kms",Diesel,Automatic
3,2020 Honda City,13.40 Lakh,ZX CVT,"36,410 kms",Petrol,Automatic
4,2020 Honda City,11.90 Lakh,ZX CVT,"55,617 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2021 BMW X1,43.75 Lakh,sDrive20i SportX,"8,000 kms",Petrol,Automatic
76,2016 Mercedes-Benz S-Class,1.61 Cr,AMG S63 Coupe,"16,000 kms",Petrol,Automatic
77,2021 BMW 3 Series Gran Limousine,53.75 Lakh,320Ld Iconic Edition,"12,000 kms",Diesel,Automatic
78,2021 Mercedes-Benz GLS,1.33 Cr,400d 4MATIC,"4,000 kms",Diesel,Automatic
79,2020 Porsche Macan,79.50 Lakh,3.0 Twin Turbo V6,"16,000 kms",Petrol,Automatic

In [45]:
data2 = [r1,df4]
r2 = pd.concat(data2)
display(r2)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2016 Honda City,6.50 Lakh,i VTEC V,"88,036 kms",Petrol,Manual
1,2017 Renault KWID,3.90 Lakh,1.0 RXT Optional AT 2016-2019,"45,567 kms",Petrol,Automatic
2,2014 Maruti Alto K10,2.76 Lakh,2010-2014 VXI,"80,293 kms",Petrol,Manual
3,2021 Nissan Kicks,15.10 Lakh,1.3 Turbo XV Pre CVT,"6,660 kms",Petrol,Automatic
4,2021 Toyota Urban cruiser,10.20 Lakh,High,"5,467 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2021 BMW X1,43.75 Lakh,sDrive20i SportX,"8,000 kms",Petrol,Automatic
76,2016 Mercedes-Benz S-Class,1.61 Cr,AMG S63 Coupe,"16,000 kms",Petrol,Automatic
77,2021 BMW 3 Series Gran Limousine,53.75 Lakh,320Ld Iconic Edition,"12,000 kms",Diesel,Automatic
78,2021 Mercedes-Benz GLS,1.33 Cr,400d 4MATIC,"4,000 kms",Diesel,Automatic
79,2020 Porsche Macan,79.50 Lakh,3.0 Twin Turbo V6,"16,000 kms",Petrol,Automatic

In [46]:
driver.close()

# Gurgoan

In [47]:
#connect to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [48]:
url = "https://www.cardekho.com/used-cars+in+gurgaon"
driver.get(url)
time.sleep(6)

In [49]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

In [50]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [51]:
df5=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df5

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2017 Maruti Alto 800,2.81 Lakh,LXI,"84,088 kms",Petrol,Manual
1,2018 Mahindra Thar,8.05 Lakh,CRDe,"33,637 kms",Diesel,Manual
2,2016 Hyundai Creta,8.12 Lakh,1.6 VTVT SX Plus,"74,978 kms",Petrol,Manual
3,2019 Mahindra XUV500,15.80 Lakh,W11 AT BSIV,"60,150 kms",Diesel,Automatic
4,2015 Maruti Swift Dzire,3.99 Lakh,LDI,"67,090 kms",Diesel,Manual
...,...,...,...,...,...,...
75,2021 BMW X1,43.75 Lakh,sDrive20i SportX,"8,000 kms",Petrol,Automatic
76,2021 BMW 3 Series Gran Limousine,53.75 Lakh,320Ld Iconic Edition,"12,000 kms",Diesel,Automatic
77,2018 Ford Endeavour,28.75 Lakh,3.2 Titanium AT 4X4,"40,000 kms",Diesel,Automatic
78,2016 Mercedes-Benz S-Class,1.61 Cr,AMG S63 Coupe,"16,000 kms",Petrol,Automatic
79,2020 BMW X7,1.18 Cr,xDrive 40i,"14,000 kms",Petrol,Automatic

In [53]:
data3= [r2, df5]
  
r3 = pd.concat(data3)
driver.close()
display(r3)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2016 Honda City,6.50 Lakh,i VTEC V,"88,036 kms",Petrol,Manual
1,2017 Renault KWID,3.90 Lakh,1.0 RXT Optional AT 2016-2019,"45,567 kms",Petrol,Automatic
2,2014 Maruti Alto K10,2.76 Lakh,2010-2014 VXI,"80,293 kms",Petrol,Manual
3,2021 Nissan Kicks,15.10 Lakh,1.3 Turbo XV Pre CVT,"6,660 kms",Petrol,Automatic
4,2021 Toyota Urban cruiser,10.20 Lakh,High,"5,467 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2021 BMW X1,43.75 Lakh,sDrive20i SportX,"8,000 kms",Petrol,Automatic
76,2021 BMW 3 Series Gran Limousine,53.75 Lakh,320Ld Iconic Edition,"12,000 kms",Diesel,Automatic
77,2018 Ford Endeavour,28.75 Lakh,3.2 Titanium AT 4X4,"40,000 kms",Diesel,Automatic
78,2016 Mercedes-Benz S-Class,1.61 Cr,AMG S63 Coupe,"16,000 kms",Petrol,Automatic
79,2020 BMW X7,1.18 Cr,xDrive 40i,"14,000 kms",Petrol,Automatic

# DELHI NCR

In [55]:
#connect to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [56]:
url = "https://www.cardekho.com/used-cars+in+delhi-ncr"
driver.get(url)
time.sleep(6)

In [57]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

In [58]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [59]:
df6=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df6

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2017 Maruti Alto 800,2.81 Lakh,LXI,"84,088 kms",Petrol,Manual
1,2018 Mahindra Thar,8.05 Lakh,CRDe,"33,637 kms",Diesel,Manual
2,2016 Hyundai Creta,8.12 Lakh,1.6 VTVT SX Plus,"74,978 kms",Petrol,Manual
3,2019 Mahindra XUV500,15.80 Lakh,W11 AT BSIV,"60,150 kms",Diesel,Automatic
4,2015 Maruti Swift Dzire,3.99 Lakh,LDI,"67,090 kms",Diesel,Manual
...,...,...,...,...,...,...
75,2021 BMW X1,43.75 Lakh,sDrive20i SportX,"8,000 kms",Petrol,Automatic
76,2016 Mercedes-Benz S-Class,1.61 Cr,AMG S63 Coupe,"16,000 kms",Petrol,Automatic
77,2021 BMW 3 Series Gran Limousine,53.75 Lakh,320Ld Iconic Edition,"12,000 kms",Diesel,Automatic
78,2020 Porsche Macan,79.50 Lakh,3.0 Twin Turbo V6,"16,000 kms",Petrol,Automatic
79,2020 BMW X7,1.18 Cr,xDrive 40i,"14,000 kms",Petrol,Automatic

In [60]:
data4 = [r3, df6]
  
r4 = pd.concat(data4)
display(r4)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2016 Honda City,6.50 Lakh,i VTEC V,"88,036 kms",Petrol,Manual
1,2017 Renault KWID,3.90 Lakh,1.0 RXT Optional AT 2016-2019,"45,567 kms",Petrol,Automatic
2,2014 Maruti Alto K10,2.76 Lakh,2010-2014 VXI,"80,293 kms",Petrol,Manual
3,2021 Nissan Kicks,15.10 Lakh,1.3 Turbo XV Pre CVT,"6,660 kms",Petrol,Automatic
4,2021 Toyota Urban cruiser,10.20 Lakh,High,"5,467 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2021 BMW X1,43.75 Lakh,sDrive20i SportX,"8,000 kms",Petrol,Automatic
76,2016 Mercedes-Benz S-Class,1.61 Cr,AMG S63 Coupe,"16,000 kms",Petrol,Automatic
77,2021 BMW 3 Series Gran Limousine,53.75 Lakh,320Ld Iconic Edition,"12,000 kms",Diesel,Automatic
78,2020 Porsche Macan,79.50 Lakh,3.0 Twin Turbo V6,"16,000 kms",Petrol,Automatic
79,2020 BMW X7,1.18 Cr,xDrive 40i,"14,000 kms",Petrol,Automatic

In [61]:
driver.close()

Saving the data

In [62]:
r4.to_excel("Used_Cars_Data.xlsx")

In [63]:
r4.to_csv("Used_Cars_Data.csv")